*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 1px solid #ffffff;
}

header{
    height: 85%;
    width: 95%;
    border: 1px solid #000000;
    display: flex;
}
 header .search_side ,.trending_side{
    position: relative;
    width: 25%;
    height: 90%;
    border: 1px solid #000000;
 }
